<div class='form-wrapper'>
  <div class='sign-in-form'>
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="actions" style='width: min-content'>
        <%= f.submit "Send me reset password instructions", style: "width: min-content; padding: 0 .3rem; background-color: palevioletred;" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
